        body {
            background-color: rgb(91, 210, 231);
        }
        
        textarea {
            position: relative;
            top: 8px;
        }
        
        .colours {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 50%;
        }
        
        #email {
            position: relative;
            left: 32px;
        }
        
        #lastName {
            position: relative;
            left: 2px;
        }
        
        #password {
            position: relative;
            left: 10px;
        }
        
        #commentDiv {
            margin-top: 30px;
        }
        
        #passeword {
            margin-top: 30px;
        }